.pds-bgsize-100pct { background-size: 100%; }
.pds-bgsize-90pct { background-size: 90%; }
.pds-bgsize-80pct { background-size: 80%; }
.pds-bgsize-70pct { background-size: 70%; }
.pds-bgsize-60pct { background-size: 60%; }
.pds-bgsize-50pct { background-size: 50%; }
.pds-bgsize-40pct { background-size: 40%; }
.pds-bgsize-30pct { background-size: 30%; }
.pds-bgsize-20pct { background-size: 20%; }
.pds-bgsize-10pct { background-size: 10%; }
